<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <h1>THIS IS HOME PAGE</h1>
    <a href="./pages/blog.html">GO TO BLOG PAGE</a>
    <form id="form">
        <table>
            <tr>
                <td><label for="sid">S-ID</label></td>
                <td><input type="text" name="sid" id="sid"></td>
            </tr>
            <tr>
                <td><label for="sname">S-NAME</label></td>
                <td><input type="text" name="sname" id="sname"></td>
            </tr>
            <tr>
                <td><label for="smobile">S-MOBILE</label></td>
                <td><input type="number" name="smobile" id="smobile"></td>
            </tr>
            <tr>
                <td><input type="submit" value="REGISTER"></td>
            </tr>
        </table>
    </form>

    <button id="get">GET STUDENTS</button>

    <script>
        let form = document.getElementById("form")
        let userDetails = {}
        form.addEventListener("input", (event) => {
            let name = event.target.name
            let value = event.target.value
            userDetails[name] = value
        })
        form.addEventListener("submit", (event) => {
            event.preventDefault()
            fetch("/newstudent", {
                method: "POST",
                headers: { "content-type": "application/json" },
                body: JSON.stringify(userDetails)
            }).then(res => res.json())
                .then(data => console.log(data))
                .catch(err => console.log(err))
        })

        let getBtn = document.getElementById("get")
        getBtn.addEventListener("click", () => {
            fetch("/getstudents")
                .then(res => res.json())
                .then(data => console.log(data))
                .catch(err => console.log(err))
        })
    </script>
</body>

</html>